@{
    ViewData["Title"] = "Get to Know Joel";
}
<h1>@ViewData["Title"]</h1>
<img  src="~/img/joelhiltonheadshot.jpg" height="200" style="align-content:center"/>
<br /><br />
<p>Joel Hilton is a passionate film enthusiast with a keen eye for cinematic excellence. His love for movies is not just a hobby but a significant part of his life, as evidenced by his academic pursuit of a minor in Film Studies at BYU.</p>
<p>Joel's dedication to the world of cinema extends beyond the classroom; he actively engages with the film community as a movie reviewer for ClearPlay and hosts a weekly podcast on films and pop culture called Baconsale. His discerning taste in movies has led him to curate a carefully selected movie collection, which he meticulously manages through a database.</p>
<p>This blend of professional involvement and personal investment in film makes Joel a unique and intriguing figure in the film enthusiast community.</p>

<h4>For More About Joel</h4>
<ul>
        <li>
            <a href="https://www.qwcomedy.com/" target="_blank">Check out Quick Wits Comedy where he performs regularly</a>
        </li>
        <li>
        <a href="https://baconsale.com/" target="_blank">
            <img src="~/img/baconsalekate.jpg" class="circular-image" />
        </a>
        
            <a href="https://baconsale.com/" target="_blank">Check out the Baconsale Podcast Site</a>
        </li>
    </ul>
