@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h1 class="display-4">Welcome to The Joel Hilton Film Collection</h1>
    <img height="300" src="~/img/joelhiltonheadshot.jpg" />
    <p>The Joel Hilton Film Collection is a meticulously curated archive that embodies Joel's profound passion for cinema. With a background in Film Studies from BYU and a career that includes movie reviewing for ClearPlay and hosting the Baconsale podcast on films and pop culture, Joel's expertise and enthusiasm for movies are unparalleled. His collection, which is only inclusive of films that meet his high standards, has evolved significantly over time. Initially managed through a spreadsheet, this growing collection reflects not only Joel's cinematic tastes but also includes a few titles he humorously notes were acquired through marriage, such as "Pride & Prejudice." </p>
</div>
